.logo{
    height: 70px;
    width: 70px;
}

.myColor:hover{
    color: blueviolet;
}

.active {
     color: blueviolet;

    border-bottom: 3px solid blueviolet;
    
}

.photoURL{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.iconSize{
    height: 25px;
    width: 30px;
}