.justify {
    text-align: justify;
}

@media print {
    body {
        font-family: 'Inter', sans-serif;
    }

    .no-printme {
        display: none;
    }

    .printme {
        display: block;
    }
}