.justify {
    text-align: justify;
}

@media print {
    body {
        font-family: 'Certificate Italic', 'Edwardian Script ITC', 'Arial Black';
    }

    .no-printme {
        display: none;
    }

    .printme {
        display: block;
    }
}